@font-face {
    font-family: JuliaMono;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Medium.woff2");
    font-display: swap;
}

@font-face {
    font-family: JuliaMono;
    font-weight: bold;
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-ExtraBold.woff2");
    font-display: swap;
}

:root {
  --background: #080709;
  --foreground: white;
  --accent: #c15cff;
  --comment: hsl(0, 0%, 60%);
  --defined: var(--foreground);
  --literal: var(--accent);
  --keyword: var(--foreground);
  --symbol: var(--foreground);
  --bound: #c59efd;
  --module: var(--literal);
  --constructor: var(--literal);
}

::selection {
  background-color: var(--accent);
  color: white;
}

html {
  padding: 0 1em;
}

body {
  margin: 0 auto;
  max-width: 60em;
  text-align: justify;
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}

pre {
  /* Otherwise Firefox takes ages trying to justify <pre> blocks... */
  text-align: initial;
}

pre, code {
  font-family: JuliaMono, monospace;
}

.diagram-container {
  text-align: center;
}

details {
  border-inline-start: 4px solid var(--accent);
  padding-inline-start: 8px;
}

details > summary::after {
  content: '(click to unfold)';
  color: var(--comment);
}

details[open] > summary::after {
  content: '(click to fold)';
}

.anchor::before {
  content: '🔗';
  display: inline-block;
  font-size: 80%;
  margin-left: 10px;
  opacity: 0.3;
}

.anchor:hover {
  text-decoration: none;
}

h1:hover > .anchor::before, h2:hover > .anchor::before, h3:hover > .anchor::before, h4:hover > .anchor::before, h5:hover > .anchor::before, h6:hover > .anchor::before {
  opacity: 1;
}

:any-link {
  text-decoration: none;
  color: var(--module);
}

/* Aspects. */
.Agda .Comment       { color: var(--comment) }
.Agda .Background    { }
.Agda .Markup        { }
.Agda .Keyword       { color: var(--keyword); font-weight: bold; }
.Agda .String        { color: var(--literal) }
.Agda .Number        { color: var(--literal) }
.Agda .Symbol        { color: var(--symbol) }
.Agda .PrimitiveType { color: var(--defined) }
.Agda .Pragma        { color: var(--keyword)   }
.Agda .Operator      {}
.Agda .Hole          { background: #490764 }
.Agda .Macro         { color: var(--defined) }

/* NameKinds. */
.Agda .Bound                  { color: var(--bound)   }
.Agda .Generalizable          { color: var(--bound)   }
.Agda .InductiveConstructor   { color: var(--constructor) }
.Agda .CoinductiveConstructor { color: var(--constructor) }
.Agda .Datatype               { color: var(--defined) }
.Agda .Field                  { color: var(--constructor) }
.Agda .Function               { color: var(--defined) }
.Agda .Module                 { color: var(--module) }
.Agda .Postulate              { color: var(--defined) }
.Agda .Primitive              { color: var(--defined) }
.Agda .Record                 { color: var(--defined) }

/* OtherAspects. */
.Agda .DottedPattern        {}
.Agda .UnsolvedMeta         { color: var(--foreground); background: yellow         }
.Agda .UnsolvedConstraint   { color: var(--foreground); background: yellow         }
.Agda .TerminationProblem   { color: var(--foreground); background: #FFA07A        }
.Agda .IncompletePattern    { color: var(--foreground); background: #F5DEB3        }
.Agda .Error                { color: red;   text-decoration: underline }
.Agda .TypeChecks           { color: var(--foreground); background: #ADD8E6        }
.Agda .Deadcode             { color: var(--foreground); background: #808080        }
.Agda .ShadowingInTelescope { color: var(--foreground); background: #808080        }

/* Standard attributes. */
.Agda a { text-decoration: none }
.Agda a[href]:hover { background-color: #444; }
.Agda [href].hover-highlight { background-color: #444; }
